<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Saisir un nouveau Film</h1>
    <form action="/film/add" method="post">
        <p>
            <label for="titre" class="form-label">Titre du film: </label>
            <input type="text" name="titre" id="titre" class="form-control" required>
        </p>
        <p>
            <label for="description" class="form-label">Description : </label>
            <textarea rows="5" class="form-control" name="description" id="description"></textarea>
        </p>
        <p>
            <label for="annee" class="form-label">Année parution : </label>
            <input type="number" min="1950" name="anneeparution" id="annee" class="form-control" required>
        </p>
        <p>
            <label for="categorie" class="form-label">Categorie: </label>
            <select name="categorie" id="categorie" class="form-select">
                <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.nom}"></option>
            </select>
        </p>
        <p>
            <input type="submit" class="btn btn-outline-primary" value="Ajouter">
        </p>
    </form>
</div>
</body>

</html>